.admin-sidebar {
    width: 300px;
    background-color: #ffffff;
    padding: 15px;
    height: calc(100vh - 60px);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .admin-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .admin-sidebar li {
    height: 60PX;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
    align-items: center;
    display: flex;
  }
  
  .admin-sidebar li:hover {
    background-color: #e2e6ea;
  }
.menu-icon  {
    width: 30px;
    margin-right: 10px;
}
/* ...existing code... */
.admin-sidebar li.active {
  background-color: #d1d5db !important;
  color: #333;
}

@media (max-width: 800px) {
  .admin-sidebar {
    position: fixed;
    transition: transform 0.3s;
    z-index: 1000;
  }
}